
.DS_Store
.idea
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
doc/build
doc/source/generated
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.so
*.pyc
*.pyo
*.tmp*
profile/*.profile
profile/*.pickled

*cfg.pickled


.coverage
coverage/
doc/_build
doc/generated
distribute-*
scripts/eelbrain_alias.py
*.c
