.DS_Store
.idea
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
build
develop-eggs
downloads
doc/sg_execution_times.rst
doc-build
eggs
fake-eggs
parts
dist
doc/build
doc/source/generated
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
eelbrain/**/*.c
eelbrain/**/*.h
eelbrain/**/*.cpp
__pycache__
*.pyd
*.so
*.pyc
*.pyo
*.tmp*
profile/*.profile
profile/*.pickled
*cfg.pickled

doc/_build
doc/generated
.coverage
coverage/
*.fif
.pytest_cache/
doc/auto_examples
*.ipynb
.ipynb_checkpoints
.eggs

*.html

doc/scripts/cache-search.json

test_data/
