.DS_Store
.idea
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
doc/build
doc/source/generated
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.c
*.cpp
!dsyevh3C/*.c
*.pyd
*.so
*.pyc
*.pyo
*.tmp*
profile/*.profile
profile/*.pickled
*cfg.pickled

doc/_build
doc/generated
.coverage
coverage/
*.fif
.pytest_cache/
doc/auto_examples
*.ipynb
.ipynb_checkpoints
.eggs
