setuptools >=17
cython >=0.21
colormath >=2.1
keyring >=5
matplotlib >=3
mne >=0.17
nibabel >2.3.0  # read_annot bug
nilearn
numpy >=1.11
numba
pillow
sphinx_rtd_theme
sphinx >=3
sphinx-autodoc-typehints
sphinx-gallery
sphinxcontrib-bibtex
scanpydoc
scipy >=0.17
sklearn  # nilearn dependency
tqdm >=4.8
