# basic requirements for using Eelbrain
# same as standard requirements from requirements_dev.txt
setuptools >= 17
ipython
tex >= 1.8
colormath >= 2.1
tqdm >= 4.8
keyring >= 5
pillow
wxpython >= 3.0
numpy >= 1.8
scipy >= 0.17
nibabel >= 2.0
matplotlib >= 2.1
pysurfer >= 0.7
mne >= 0.15
