# Requirements for developing
setuptools >= 17
tex >= 1.8
colormath >= 2.1
tqdm >= 4.8
keyring >= 5
pillow
wxpython >= 3.0
numpy >= 1.8
scipy >= 0.17
nibabel >= 2.0
matplotlib >= 1.1
pysurfer >= 0.7
mne >= 0.13.1
# additional developer tools
flake8
nose
coverage
numpydoc
pydocstyle
# for testing of R integration
rpy2
r-car
r-ez
