# usage: $ conda install --file=requirements_dev.txt

# Standard requirements:
setuptools >= 17
ipdb
ipython
tex >= 1.8
colormath >= 2.1
tqdm >= 4.8
keyring >= 5
pillow
wxpython == 3.0
numpy >= 1.8
scipy >= 0.17
nibabel >= 2.0
matplotlib >= 2.1
mayavi == 4.5
vtk == 6.3
pysurfer >= 0.7
mne >= 0.15

# building
cython

# docs
numpydoc
pydocstyle

# testing
flake8
nose
pytest
coverage

# testing of R integration
rpy2
r-car
# r-ez  # might require additional channel, e.g. ``mittner``
