# Requirements for building docs (for readthedocs.io)
setuptools >= 17
cython >= 0.21
colormath >= 2.1
tqdm >= 4.8
keyring >= 5
pillow
numpy >= 1.8
numpydoc
scipy >= 0.17
nibabel >= 2.0
matplotlib >= 1.1
# exclude mne because it requires numpy to be installed already
